body{
  background-color: rgb(150, 150, 190);
  font-family: "Poppins", sans-serif;
  text-rendering: geometricPrecision;
  line-height: 1.4;

}
h1{
  color: #333;
  font-size: 40px;
  font-family: Phantomsans, sans-serif;
  margin-bottom: 10px;
  text-align: center;
  }

  #searchContainer {
    align-items: center;
    width: 50%;
    max-width: 600px;
    margin: 20px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5f5;
}
}


form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
}

input {
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px;
  background-color: #3c7ec4;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

h2{
  text-align: center;
}
p {
  font-size: 1.2em;
  margin-bottom: 20px;
  font-family: Phantomsans, sans-serif;
}



.jobListing{
text-align: center;
}
.btn{
  background-color: #1c6eb1;
      color: #fff;
      padding: 10px 15px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
button:active,
button:hover {
outline: 0;
}

.applicationForm{
  margin-top: 20 px;
}
.applicationForm form {
  max-width: 400px;
  margin: 0 auto;
}

.applicationForm label {
  display: block;
  margin-bottom:none;
  font-size: 14px;
  color: #333;
}
.applicationForm input {
  width: 60%;
  padding: 8px;
  margin-bottom: 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.grid-item {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-color: #f8f8f8;
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
  background-color: rgb(150, 150, 190);
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
}